/* Montserrat Variable Font */
@font-face {
  font-family: 'MontserratVariable';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'MontserratVariable';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
}

/* Static fallback (using the same variable fonts but with a different name) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
}