@import "tailwindcss";
@import "./assets/fonts/fira-code/fira_code.css";
@import "./assets/fonts/inter/inter.css";
@import "./assets/fonts/montserrat/montserrat.css";

@variant dark (&:where(.dark, .dark *));

/**
 * Base typography styles
 */
@layer base {
  * {
      font-family: "Inter", sans-serif;
    }
  
    @supports (font-variation-settings: normal) {
      * {
        font-family: "InterVariable", sans-serif;
        font-optical-sizing: auto;
      }
    }
  
    code,
    pre {
      font-family: "Fira Code", monospace;
    }
  h1 {
    font-family: "MontserratVariable", "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

    @supports (font-variation-settings: normal) {
      h1 {
        font-family: "MontserratVariable", sans-serif;
        font-optical-sizing: auto;
      }
    }
  h2 {
    font-family: "MontserratVariable", "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }

    @supports (font-variation-settings: normal) {
      h2 {
        font-family: "MontserratVariable", sans-serif;
        font-optical-sizing: auto;
      }
    }
  h3 {
    font-family: "MontserratVariable", "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
  }

    @supports (font-variation-settings: normal) {
      h3 {
        font-family: "MontserratVariable", sans-serif;
        font-optical-sizing: auto;
      }
    }
  h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

}

@supports (font-variation-settings: normal) {
  @theme {
    --font-sans: "InterDisplay",
      "InterVariable",
      sans-serif;
  }

}

/**
 * Toast animation
 */
@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

/**
 * Popup animation
 */
@keyframes popup-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup-out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.animate-popup-out {
  animation: popup-out 0.2s ease-in forwards;
}

.animate-popup-in {
  animation: popup-in 0.2s ease-out forwards;
}